# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Boot
*.jar
*.war
*.nar

# Logs
*.log
logs/

# SO
.DS_Store
Thumbs.db